$base-color: hsl(358, 53%, 59%);

$h: 358;
$s: 53%;
$l: 59%;

$l-d: 35%;
$h-d: 270;

$primary: hsl($h, $s, $l);
$primary-dark: hsl($h, $s, calc($l - $l-d));
$primary-light: hsl($h, $s, calc($l + $l-d));

$secondary: hsl(calc($h - $h-d), $s, $l);
$secondary-dark: hsl(calc($h - $h-d), $s, calc($l - $l-d));
$secondary-light: hsl(calc($h - $h-d), $s, calc($l + $l-d));

$black: hsl($h, 14%, 3%);
$white: hsl($h, $s, 99%);
$gray: hsl($h, 14%, 90%);
$dark-gray: hsl($h, 14%, 30%);

$blue: #367fbf;
$success: #aaff19;
$error: #e8120c;
$warning: #ffe919;

// Dark Theme
$theme: (
  'accent-d': $primary-dark,
  'accent-l': $primary-light,
  'sec-d': $secondary-dark,
  'sec-l': $secondary-light,
  // text
  'accent': $primary,
  'sec': $secondary,
  'lc': $gray,
  'mc': $dark-gray,
  'hc': $white,
  'dark': $black,
  'light': $white,
  // gradients
  'gradient': linear-gradient(30deg, $primary-light, $secondary-light),
);
