/* Primary */
$primary-900: hsl(5, 87%, 5%);
// $primary-500: hsl(5, 69%, 48%);
$primary-500: hsl(5, 87%, 60%);
$primary-50: hsl(5, 50%, 90%);

/* Neutral */
$neutral-900: hsl(5, 87%, 2%);
$neutral-500: hsl(5, 8%, 20%);
$neutral-50: hsl(5, 87%, 98%);

/* Success */
$success-900: hsl(94, 24%, 6%);
$success-500: hsl(103, 30%, 55%);
$success-50: hsl(100, 60%, 91%);

/* Caution */
$caution-900: hsl(32, 69%, 5%);
$caution-500: hsl(35, 69%, 48%);
$caution-50: hsl(30, 50%, 90%);

/* Danger */
$danger-900: hsl(344, 62%, 8%);
$danger-500: hsl(341, 73%, 59%);
$danger-50: hsl(349, 48%, 95%);

/* Info */
$info-900: hsl(180, 69%, 5%);
$info-500: hsl(220, 69%, 48%);
$info-50: hsl(180, 50%, 90%);
