/* Primary */
$primary-900: hsl(340, 69%, 5%);
$primary-500: hsl(340, 69%, 48%);
$primary-50: hsl(340, 50%, 90%);

/* Neutral */
$neutral-900: hsl(340, 5%, 5%);
$neutral-500: hsl(340, 5%, 25%);
$neutral-50: hsl(340, 45%, 98%);

/* Success */
$success-900: hsl(94, 24%, 6%);
$success-500: #7dae69;
$success-50: #e4f6db;

/* Caution */
$caution-900: #170f06;
$caution-500: #ea9928;
$caution-50: #fbefe3;

/* Danger */
$danger-900: #22080f;
$danger-500: #e34b7b;
$danger-50: #f9eef0;

/* Info */
$info-900: hsl(180, 69%, 6%);
$info-500: hsl(180, 75%, 36%);
$info-50: hsl(180, 69%, 95%);

$gradient-light: linear-gradient(135deg, $primary-50, $danger-50);
