@use 'media' as *;
@use 'functions' as f;

@mixin center {
  display: grid;
  place-content: center;
}

@mixin content-grid {
  max-width: f.rem(350);
  margin: auto;

  display: grid;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  grid-template-columns: repeat(6, f.rem(55));
  gap: f.rem(4);

  @include screen(medium) {
    max-width: f.rem(700);
    margin: auto;

    display: grid;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-template-columns: repeat(6, f.rem(116.66));
    gap: f.rem(0);
  }

  @include screen(large) {
    max-width: f.rem(800);
    margin: auto;

    display: grid;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, f.rem(66.66));
    gap: f.rem(0);
  }

  @include screen(x-large) {
    max-width: f.rem(1700);

    display: grid;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, f.rem(141.66));
    gap: f.rem(0);
  }
}

.wrapper {
  max-width: f.rem(350);

  margin: auto;
  // padding: $section-padding 0;

  @include screen(medium) {
    max-width: f.rem(600);
  }

  @include screen(large) {
    max-width: f.rem(1200);
  }
  @include screen(xx-large) {
    max-width: f.rem(1700);
  }
}

@mixin flex-wrap-col {
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
}
@mixin flex-wrap-row {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
}

@mixin grid-flow-col {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
@mixin grid-flow-row {
  display: grid;
  grid-auto-flow: row;
  justify-content: space-between;
  align-items: center;
}
