@use 'media' as *;
@use 'functions' as f;
@use 'spacing' as s;

@mixin center {
  display: grid;
  place-content: center;
}

@mixin container-grid {
  max-width: f.rem(750);
  margin: auto;

  display: grid;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  grid-template-columns: repeat(6, 1fr);
  gap: f.rem(4);

  @include screen('medium') {
    max-width: f.rem(1400);
    margin: auto;

    display: grid;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, f.rem(78));
    gap: f.rem(8);
  }

  @include screen('large') {
    max-width: f.rem(1440);
    margin: auto;

    display: grid;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, f.rem(109));
    gap: f.rem(12);
  }

  @include screen('x-large') {
    max-width: f.rem(1750);

    display: grid;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, f.rem(144));
    gap: f.rem(2);
  }
}

@mixin flex-wrap-col {
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
}
@mixin flex-wrap-row {
  display: flex;
  flex-flow: row wrap;
}

@mixin grid-flow-col {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
@mixin grid-flow-row {
  display: grid;
  grid-auto-flow: row;
  justify-content: space-between;
  align-items: center;
}
