$nav-height: 5rem;
$icon-btn: 2.5rem;
$box-btn-w: 15rem;
$box-btn-h: 3.25rem;

// Padding
$spacing-sm: 0.625rem;
$spacing-md: 1.25rem;
$spacing-lg: 5rem;
$section-padding: 20rem;

$transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
