$nav-height: 6.25rem;
$icon-wh: 2.8rem;
$box-btn-w: 18rem;
$box-btn-h: 4rem;

// Padding
$pd-s: 0.625rem;
$pd-m: 1.25rem;
$pd-l: 5rem;
$section-padding: 20rem;

$transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
