@use 'functions' as *;

$breakpoint: (
  //640px
  small: 40em,
  //1024px
  medium: 64em,
  //1440px
  large: 90em,
  //1920px
  xlarge: 120em
);

$breakpoints-up: (
  'medium': em(79.98),
  'large': em(899.98),
  'x-large': em(1399.98),
);

@mixin screen($size) {
  @media only screen and (min-width: map-get($breakpoint, $size)) {
    @content;
  }
}

@mixin screen-up($size) {
  @media only screen and (max-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}
