// Grid Layouts
@mixin center {
  display: grid;
  place-content: center;
}

@mixin grid(
  $col-width,
  $col-count,
  $row-height,
  $row-count,
  $col-gap,
  $row-gap
) {
  display: grid;
  grid-template-columns: repeat($col-count, $col-width);
  grid-template-rows: repeat($row-count, $row-height);
  column-gap: $col-gap;
  row-gap: $row-gap;
}

@mixin grid-row($row-count, $row-height, $gap) {
  display: grid;
  grid-template-rows: repeat($row-count, $row-height);
  gap: $gap;
}

@mixin grid-column($col-width, $col-count, $gap) {
  display: grid;
  grid-template-columns: repeat($col-count, $col-width);
  gap: $gap;
}

@mixin grid-flow($flow, $gap) {
  display: grid;
  grid-auto-flow: $flow;
  align-items: center;
  gap: $gap;
}

// Media Queries
@mixin mid-screen {
  @media only screen and (min-width: 1224px) {
    @content;
  }
}

@mixin large-screen {
  @media only screen and (min-width: 1824px) {
    @content;
  }
}
