@use 'functions' as *;
@use 'media' as *;

// Spacing
$spacer-xs: rem(8);
$spacer-sm: rem(16);
$spacer-md: rem(32);
$spacer-lg: rem(56);
$spacer-xl: rem(112);

$transition: 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);

$navigation-height: rem(88);
