.grid-center {
  display: grid;
  place-content: center;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 90vw 1fr;
  grid-auto-rows: auto;
  align-items: center;
  justify-content: start;
}

.grid-layout .container {
  grid-column: 2 / -2;
  width: 100%;
}
