// @use 'config/colors' as *;
@use 'config/spacing' as *;
@use 'config/fonts' as *;
@use 'config/functions' as *;
@use 'config/colors' as *;
@use 'config/media' as *;

button,
a[role='button'],
.icon-btn {
  font-weight: 600;
  text-decoration: none;
  transition: all $transition;

  border: 1px solid transparent;
  border-radius: rem(5);

  cursor: pointer;

  &:hover {
    color: $primary-500;
    background-color: $primary-50;
  }

  &:focus,
  &:focus-visible {
    color: $white;
    background-color: $info-500;
  }
}

button,
a[role='button'] {
  padding: $spacer-sm $spacer-sm;
}

.icon-btn {
  display: grid;
  place-content: center;

  padding: $spacer-sm;
  font-size: rem(24);

  color: $light-gray;

  @include light-theme {
    color: $dark-gray;
  }
}

.primary-btn {
  color: $primary-50;
  background-color: $primary-500;

  &:hover {
    color: $primary-500;
    background-color: $primary-50;
  }
}

.secondary-btn {
  color: $primary-50;
  background-color: transparent;

  border-color: currentColor;

  &:hover {
    color: $primary-500;
  }
}
