@use 'config/colors' as *;
@use 'config/measurements' as m;

.primary-btn,
.sec-btn,
.primary-btn-s,
.sec-btn-s {
  display: grid;
  place-content: center;

  text-decoration: none;
  text-transform: capitalize;
  line-height: 1;

  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow: hidden;
}

.primary-btn,
.primary-btn-s {
  color: $neutral-50;
  background-color: $primary-500;
  border: 2px solid transparent;

  &:hover {
    color: $primary-50;
    background-color: $primary-900;
  }
}

.sec-btn-s,
.sec-btn {
  color: $primary-900;
  background-color: $neutral-50;
  border: 2px dotted currentColor;

  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow: hidden;

  &:hover {
    color: $primary-500;
  }
}

.primary-btn,
.sec-btn {
  font-family: family('heading');
  font-size: scale('h5');
  font-weight: 600;

  padding: 15px 60px;
  width: fit-content;

  border-radius: 0.95rem;
}

.sec-btn-s,
.primary-btn-s {
  font-family: family('body');
  font-size: scale('body');

  padding: 10px 20px;
  width: fit-content;
}

.icon-btn {
  display: grid;
  place-content: center;

  width: m.$icon-btn;
  height: m.$icon-btn;

  color: $neutral-500;
  background-color: $primary-50;

  transition: all m.$transition;

  border-radius: 0.5rem;
  border: 2px solid transparent;

  &:focus-visible,
  &:hover {
    color: $neutral-50;
    background-color: $primary-500;
  }
}
