body {
  font-size: 16px;
  font-family: family('body');

  color: color('mc');
  background-color: color('light');
}

img {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  &::before {
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;

    background-image: color('gradient');
    background-size: cover;
  }
}

::selection {
  color: color('accent');
  background-color: color('dark');
}

.page-wrapper {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.content {
  padding: $section-padding 0;
}

.icon-link {
  @include center;
  width: $icon-wh;
  height: $icon-wh;

  color: color('mc');
  background-color: color('lc');

  transition: transform $transition;

  &:focus-visible,
  &:hover {
    color: color('accent-l');
    background-color: color('accent');
    transform: translateY(-0.4rem);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  overflow: hidden;
  white-space: nowrap;
}

.link {
  @include center;

  color: color('mc');
  font-size: scale('body');

  text-decoration: none;
  line-height: 1.125;

  transition: all $transition;

  &:hover,
  &:focus-visible {
    color: color('accdarkent-l');
    background-color: color('accent');
    outline-color: color('accent-d');
  }
}

.primary-btn,
.sec-btn,
.primary-btn-s,
.sec-btn-s {
  @include center;

  font-family: family('body');
  font-size: scale('h6');
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1;

  transition: all $transition;
  overflow: hidden;
}

.primary-btn,
.sec-btn {
  width: $box-btn-w;
  height: $box-btn-h;
}

.primary-btn,
.primary-btn-s {
  color: color('accent-l');
  background-color: color('accent-d');

  &:hover {
    color: color('accent-l');
    background-color: color('accent');
  }
}

.sec-btn-s,
.sec-btn {
  color: color('accent-d');
  background-color: transparent;
  border: 2px solid currentColor;
  // border-radius: 30px;

  transition: all $transition;
  overflow: hidden;

  &:hover {
    color: color('sec-d');
  }
}

.sec-btn-s,
.primary-btn-s {
  width: calc($box-btn-w * 0.5);
  height: calc($box-btn-h * 0.75);

  font-size: scale('body');
}
