@forward 'buttons';

mark {
  font-family: family('small cap');
  color: $primary-50;
  background-color: $primary-500;
}

::selection {
  color: $neutral-50;
  background-color: $primary-900;
}

body {
  font-size: 16px;
  font-family: family('body');

  color: $neutral-900;
  background-color: $neutral-50;
}

img {
  position: relative;
  z-index: 1;

  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;

  &::before {
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;

    background-image: $primary-50;
    background-size: cover;
  }
}

.page-wrapper {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.content {
  padding: $section-padding 0;
}

.icon-link {
  @include center;
  width: $icon-btn;
  height: $icon-btn;

  color: $primary-50;
  background-color: $primary-900;

  transition: transform $transition;

  &:focus-visible,
  &:hover {
    color: $primary-50;
    background-color: $primary-500;
    transform: translateY(-0.4rem);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  overflow: hidden;
  white-space: nowrap;
}

.link {
  position: relative;
  @include center;

  color: $neutral-900;
  font-size: scale('body');

  text-decoration: none;
  line-height: 1.125;

  transition: all $transition;

  &::before {
    content: '';
    position: absolute;
    bottom: 15%;
    left: 50%;
    z-index: -1;

    height: 0.15rem;
    width: 0;

    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: width $transition;
    background-color: currentColor;

    border-radius: 30px;
  }
}

.link:hover {
  color: $primary-500;
  // background-color: $primary-900;

  &::before {
    width: 75%;
  }
}
.link:focus-visible,
.primary-btn:focus-visible,
a:focus-visible {
  color: $neutral-50;
  background-color: $primary-500;
  outline-color: $primary-900;
}
