// @forward 'config';
@forward 'config/buttons';
@forward 'config/animations';
@forward 'config/reset';
@forward 'config/layout';

body {
  font-size: 100%;
  font-family: $body;

  color: $light-gray;
  background-color: $black;

  @include light-theme {
    color: $black;
    background-color: $white;
  }
}

img {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  &::before {
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: $primary-50;
    background-size: cover;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  overflow: hidden;
  white-space: nowrap;
}

a {
  font-weight: 600;
  text-decoration-color: currentColor;
  // line-height: 1.125;
  transition: all ease;

  &:focus-visible {
    color: $white;
    background-color: $info-500;
  }
}

a:not([class]) {
  color: inherit;
  text-decoration-color: currentColor;

  &:hover {
    color: $primary-500;
  }
}
