@use 'config/colors' as *;
@use 'config/media' as *;

@forward 'buttons';
@forward 'animations';

* {
  line-height: rem(24);
}
body {
  font-size: 100%;
  font-family: $body;

  color: $light-gray;
  background-color: $black;

  @include light-theme {
    color: $black;
    background-color: $white;
  }
}

/*
  Elements Dimension Controls
*/

.container {
  width: 100%;
  max-width: rem(750);
  margin: auto;

  @include screen(medium) {
    max-width: rem(1400);
  }

  @include screen(large) {
    max-width: rem(1440);
  }
  @include screen(x-large) {
    max-width: rem(1750);
  }
}

.section {
  margin: $spacer-xl auto;
  padding: $spacer-xl rem(16);

  @include screen(small) {
    padding: $spacer-xl $spacer-md;
  }

  & > .container:not(:first-child) {
    margin-block: $spacer-xl;
  }
}

.text-container {
  width: 100%;
  max-width: 50ch;
}
.text-container--heading {
  width: 100%;
  max-width: 60ch;
}

.content-wrapper {
  width: 100%;
  max-width: rem(950);
}

img {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  &::before {
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: $primary-50;
    background-size: cover;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  overflow: hidden;
  white-space: nowrap;
}

a {
  font-weight: 600;
  text-decoration-color: currentColor;
  // line-height: 1.125;
  transition: all ease;

  &:focus-visible {
    color: $white;
    background-color: $info-500;
  }
}

a:not([class]) {
  color: inherit;
  text-decoration-color: currentColor;

  &:hover {
    color: $primary-500;
  }
}
