@use 'config/colors' as *;

body {
  color: $neutral-900;
  background-color: $neutral-50;

  @media (prefers-color-scheme: dark) {
    color: $neutral-50;
    background-color: $neutral-900;
  }
}
// Content sections
.section {
  color: $neutral-50;
  background-color: $neutral-900;
}

// Buttons and Links
a {
  color: inherit;
  text-decoration-color: currentColor;

  &:hover {
    color: $primary-500;

    &::before {
      height: rem(20);
    }
  }

  &:focus-visible,
  &:focus {
    color: $neutral-50;
    background-color: $primary-500;
    outline-color: $primary-900;
  }
}

a[role='button'] {
  color: $neutral-50;
  background-color: $primary-500;

  &:hover {
    color: $primary-500;
    background-color: $primary-50;
  }
}

.primary-btn,
.primary-btn-s {
  color: $neutral-50;
  background-color: $primary-500;
  border: 2px solid transparent;

  &:hover {
    color: $primary-50;
    background-color: $primary-900;
  }
}

.sec-btn-s,
.sec-btn {
  color: $primary-900;
  background-color: $neutral-50;
  border-color: currentColor;

  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow: hidden;

  &:hover {
    color: $primary-500;
  }
}

// .icon-btn {
//   // color: $neutral-50;
//   // background-color: $neutral-500;

//   &:focus-visible,
//   &:hover {
//     color: $neutral-50;
//     background-color: $primary-500;
//   }
// }
