$heading: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$body: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// Typography Scale
$scale: (
  'h1': rem(112),
  'h2': rem(56),
  'h3': rem(45),
  'h4': rem(34),
  'h5': rem(24),
  'h6': rem(20),
  'body': 1rem,
  'body-sm': rem(12),
);

$line-height: (
  'h1': 1,
  'h2': 1.35,
  'h3': rem(48),
  'h4': rem(40),
  'h5': rem(32),
  'h6': 1,
  'body': rem(24),
  'body-sm': rem(24),
);
