/* Neutral */
$white: hsl(255, 8%, 98%);
$light-gray: hsl(255, 35%, 95%);
$mid-gray: hsl(255, 10%, 55%);
$dark-gray: hsl(255 10% 10%);
$black: hsl(255, 8%, 2%);

$primary: hsl(255, 40%, 60%);

// The theme that is not default
$theme: 'light';
