@use '../variables/variable-color' as *;

@mixin frosted-glass($color) {
  background-color: $color;
  @supports (backdrop-filter: blur()) {
    background-color: transparentize($color: $color, $amount: 0.75);
    backdrop-filter: blur(20px);
    border: 2px solid transparentize($color: $color, $amount: 0.9);
  }
}

@mixin light-theme {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

@mixin dark-theme {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin text-color {
  color: $light-gray;

  @include light-theme {
    color: $dark-gray;
  }
}

@mixin bg-dark {
  color: $light-gray;
  background-color: $dark-gray;

  @include light-theme {
    color: $dark-gray;
    background-color: $light-gray;
  }
}

@mixin bg-primary {
  color: $primary-50;
  background-color: $primary-500;
}
